<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Funkweb Avstemning</title>
    <link rel="stylesheet" href="appStyle.css">
    <link rel="stylesheet" href="voteButtons.css">
    <link rel="stylesheet" href="loginButtons.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- google sign-in -->
    <!-- <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script> -->
</head>

<body>
    <div id="app" class="mainApp">

        <div class="topBar"><h1>Avstemning for spillgruppa</h1></div>

        <div></div>
        <div class="themeName">{{title}}</div>
        
        <div class="mainContent">
            
            <span class="tabMenu">
                <button @click="curTab = 'itemList'" :class="{selected: curTab === 'itemList'}">Stem</button>
                <button @click="curTab = 'results'" :class="{selected: curTab === 'results'}">Resultat</button>
                <button @click="curTab = 'myItems'" :class="{selected: curTab === 'myItems'}">Mine forslag</button>
                <button @click="curTab = 'newVote'" :class="{selected: curTab === 'newVote'}">Avstemning</button>
            </span>

            <div class="middleTab">        
                <div v-if="curTab === 'itemList'">  
                    {{votingTimeLeft}}             
                    <template v-for="(item, i) in itemList">
                        <span class="voteButtons">
                            <a :href="item.link"><img src="Link.png"></a>
                            <span class="gameTitle">{{item.name}}</span>
                            <button @click="vote(item.name, i, item.vote === 1 ? 0 : 1)" :class="{selected: item.vote === 1}">+</button>
                        </span>
                    </template>
                </div>

                <div v-if="curTab === 'results'">                
                    <button @click="getScores">Beregn resultat</button>
                    <table v-if="itemScores !== false">
                        <tr v-for="item in itemScores">
                            <td>{{item.name}}:</td><td>{{item.votes}}</td>
                        </tr>
                    </table>
                 </div>

                <div v-if="curTab === 'myItems'">
                    {{suggestionsTimeLeft}}
                    <div class="newGameMenu">
                    <span style="text-align: center">Navn:</span>
                    <input v-model="newItem.name">
                    <button @click="addItem" style="grid-area: 1 / 3 / 3 / 4">Legg til</button>
                    <span style="text-align: center">Link:</span>
                    <input v-model="newItem.link">
                    <template v-for="item in itemList.filter((e) => e.user === user.name)">
                        <button @click="deleteItem(item.name)">Slett</button>
                        <span style="grid-column-start: 2; grid-column-end: 4;">{{item.name}}</span>                 
                    </template>
                    </div>
                </div>

                <div v-if="curTab === 'newVote'" class="newVoteTab">               
                    Tittel: <input v-model="newVote.title"><span></span>
                    Forslag stenger: 
                    <input type="date" v-model="newVote.suggestionsCloses.date">
                    <input type="time" v-model="newVote.suggestionsCloses.time">
                    Avstemning stenger: 
                    <input type="date" v-model="newVote.votingCloses.date">
                    <input type="time" v-model="newVote.votingCloses.time">
                    <button @click="updateVote">Lagre endringer</button>
                    <button @click="createNewVote">Ny avstemning</button>
                </div>
            </div>
        </div>

        <div class="loginButtons">
            <span v-if="loggedIn">
                Bruker: {{user.name}}
                <button @click="logout">Logout</button>
            </span>
            <span v-else> 
                <form class="login" @submit.prevent="login">
                    Brukernavn: <input type="text" name="username" placeholder="Brukernavn" v-model="user.name">
                    Passord: <input type="password" name="password" placeholder="Passord" v-model="user.password">
                    <button type="submit">Login</button>
                </form>
            </span>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>