.voteButtons{
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: 30px;
    align-content: center;
}

.voteButtons a{
    height: 25px; 
    align-self: center;
}

.voteButtons img {
    width: 25px;
    height: 25px;
    border-radius: 35%;
    align-self: center;
}

.voteButtons img:hover{cursor: pointer;}

.voteButtons .gameTitle{
    padding-left: 20px;
    height: 20px;
    margin-top: 2px;
}

.voteButtons button{
    border: none;
    border-radius: 50%;
    /* border-radius: 5px; */
    align-self: center;
    height: 25px;
    width: 25px;
    /* box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.9), inset 1px 1px 1px 0px rgba(255, 255, 255, 0.75); */
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.75); 
    margin: 2px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.3);
}

.voteButtons button:hover {box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.9);}
.voteButtons button:active {box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.9);}
.voteButtons .selected{
    box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.9); 
    background-color: rgba(255, 255, 255, 0.3);
}


